# Ignore node_modules directory
node_modules

# Ignore logs
logs
*.log

# Ignore temporary files
tmp
temp

# Ignore build artifacts
dist
build

# Ignore local environment files
.env
.env.local
.env.*.local

# Ignore Docker-related files
Dockerfile
.dockerignore

# Ignore Git-related files
.git
.gitignore

# Ignore GitHub-related files
.github
